html {
    position: relative;
    min-height: 100%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background: linear-gradient(rgba(10, 91, 116, 0.719),rgba(5, 82, 105, 0.719)) , url(../img/auth-bg.jpg) no-repeat center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.auth-card {
   background: #e7f3f5 !important;
}

.panel-group .panel-icon {
  background: #12334F;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.panel-group .panel-icon:hover {
    color: #12334F;
    background: white;
}

.panel-group .panel-control {
    border-radius: 0px;
}

.panel-group .panel-control:focus {
    box-shadow: none;
    border-color: #117B86;
}

.btn-auth {
    color: white !important;
    background: #117B86 !important;
    border-radius: 0px !important;
    border: 1px solid #117B86 !important;
}

.btn-auth:hover {
    color: #117B86 !important;
    background: transparent !important;
}

.btn-cancel {
    color: white !important;
    border: 1px solid #117B86 !important;
    background: #117B86 !important;
}

.btn-cancel:hover {
    color: #117B86 !important;
    background: transparent !important;
}

.btn-regnow {
    color: white !important;
    background: #12334F !important;
    border: 1px solid #12334F;
}

.btn-regnow:hover {
    color: #12334F !important;
    background: transparent !important;
}

.auth-links {
    color: #12334F;
    text-decoration: none;
    font-size: 14px;
}

.auth-links:hover {
    color: #117B86;
}

@media (max-width:480px) {
    .auth-links {
        font-size: 13px;
    }
}

.btn-language {
    color: #117B86 !important;
    background: transparent !important;
    border: 1px solid #117B86 !important;
}

#google_translate_element {
    display: none;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.goog-tooltip {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.goog-te-gadget-icon {
    display: none;
}

.langmodal-content {
    background: #0F7985 !important;
}

.modal-lang {
    text-align: left;
}

.close-lang {
    background: transparent !important;
    border: none !important;
    color: white !important;
    font-size: 25px !important;
}

.modal-lang a {
    text-decoration: none;
}

    .modal-lang .lang {
        font-size: 20px;
        line-height: 45px;
        transition: 350ms ease all;
    }

        .modal-lang .lang:hover {
            transform: scale(1.2);
        }

    .modal-lang .flag-icon {
        font-size: 1.5625rem;
        margin: 1.25rem;
        transition: 350ms ease all;
    }

        .modal-lang .flag-icon:hover {
            transform: scale(1.2);
        }