@media (max-width:480px) {
    .banner-area h1 {
        font-size: 40px;
    }
    
    .banner-area p {
        font-size: 16px;
        line-height: 1.7em;
    }

    .history-area p {
        font-size: 15px;
    }

    .offer-card {
        min-height: auto;
    }
}

@media (max-width:992px) {
    /* .navbar .navbar-collapse {
        background: #2A9196;
    } */

    .navbar .navbar-nav .nav-item .nav-link {
        /* color: white; */
        width: 100%;
        /* text-align: center; */
        /* border-bottom: 1px solid #12334F; */
        font-size: 15px;
    }
/* 
    .navbar .navbar-nav .nav-item .nav-link:hover {
        color: #12334F;
    }
    
    .navbar .navbar-nav .nav-item .nav-link.active {
        color: #12334F;
    } */

    /* .nav-drop:hover .drop-link drop {
        display: none;
    } */
    
    .nav-drop:hover .drop-link span {
        transform: none !important;
        transition: none !important;
    }

    /* .nav-drop:focus .drop-link span {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
    } */

    .nav-drop .drop-menu li {
        border-bottom: 1px solid #43AFAF;
    }

    .nav-drop .drop-menu {
        background: #43AFAF;
    }

    .goog-te-combo{
       text-align: center;
       color: #12334F;
       background-color: white !important;
       border: 1px solid #12334F !important;
    }

    .goog-te-combo:focus {
        box-shadow: none !important;
        border-radius: 0px !important;
    }

    .working-content {
        height: auto;
    }

    .working-content .center {
        position: relative;
        top: 0;
        left: 0;
    }

    .working-content .center .center-area {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
    }

    .working-content .top-left {
        position: relative;
        margin-top: 20px;
    }

    .working-content .top-right {
        position: relative;
        margin-top: 20px;
    }

    .working-content .bottom-left {
        position: relative;
        margin-top: 20px;
    }

    .working-content .bottom-right {
        position: relative;
        visibility: visible;
        margin-top: 20px;
    }

    .working-content .content {
        width: 100% !important;
    }

    .working-content .arrow {
        display: none;
    }

    .working-content .center .center-area .inner {
        position: absolute;
        width: 50px;
        top: 32%;
        left: 38%;
    }

}