@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bree+Serif&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700&family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Titillium+Web:wght@300;400;600;700&family=Viga&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif !important;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #ffffff;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 44%;
    top: 40%;
    z-index: 1;
    width: 80px;
    height: 80px;
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2, 1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0.4;
    }
  }

@media (max-width:480px) {
    /* Center the loader */
    #loader {
        left: 40%;
        top: 40%;
      }
}

.zilla-modal-head {
    border-bottom: none !important;
}

.btn-refer {
    color: white !important;
    background: #117B86 !important;
    border-radius: 0px !important;
    border: 1px solid #117B86 !important;
}

.text-aboreto {
    font-family: 'Aboreto', cursive;
}

.text-bree {
    font-family: 'Bree Serif', serif;
}

.text-manrope {
    font-family: 'Manrope', sans-serif;
}

.text-ptserif {
    font-family: 'PT Serif', serif;
}

.text-robomono {
    font-family: 'Roboto Mono', monospace;
}

.text-titillium {
    font-family: 'Titillium Web', sans-serif;
}

.text-viga {
    font-family: 'Viga', sans-serif;
}

.text-raleway {
    font-family: 'Raleway', sans-serif;
}

.text-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.text-dblue {
    color: #12334F;
}

.text-light-blue {
    color: rgb(41, 204, 196);
}

.text-blue {
    color: #117B86;
}

.text-orange {
    color: #f39406;
}

.text-dark-orange {
    color: #da7e06;
}

.text-light-orange {
    color: #FF9800;
}

.bg-dblue {
    background: #12334F;
}

.bg-light-dblue {
    background: #117B86;
}

.site-header {
    background: #12334F;
}

.site-header .links {
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.site-header .links:hover {
    color: rgb(41, 204, 196);
}

/* .navbar {
    background: #171f2c;
    rgb(12, 60, 76)
} */

/* rgb(41, 204, 196) -light
#12334F - dark
 main color */
/* Other Colors
#117B86
#0F7985
#2A9196
#43AFAF
#31999D */

.toggle-btn {
    color: #2A9196 !important;
    background: transparent !important;
    font-size: 25px !important;
    border: none !important;
}

.toggle-btn:focus {
    box-shadow: none !important;
}

.logo-area h2 {
    color: #f39406;
}

.navbar {
    background: white;
    font-family: 'Manrope', sans-serif;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #117B86;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: #117B86;
}

.nav-drop .drop-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #43AFAF;
    border-radius: 0px;
}

/* .nav-drop:hover .drop-menu {
    display: block;
} */

.nav-drop:hover .drop-link span {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}

.nav-drop .drop-menu li a {
    color: white;
    background: #43AFAF;
}

.nav-drop .drop-menu li {
    border-bottom: 1px solid white;
}

.nav-drop .drop-menu li:last-child {
    border-bottom: none;
}

.goog-te-combo{
    width: 100%;
    padding: 10px 20px;
    font-size: 15px !important;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #117B86;
    background-clip: padding-box;
    border: 1px solid #117B86;
    margin-top: 10px;
    border-radius: 0px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.goog-logo-link {
   display:none !important;
}

.goog-te-gadget{
   color: transparent !important;
   height: 50px;
}

    /* progress bar */
    .slider-progress {
        width: 100%;
        height: 3px;
        background: #eee;
        max-width: 100%;
        margin: 0 auto;
      }
      .slider-progress .progress {
        width: 0%;
        height: 3px;
        background: #12334F;
      }

.home-banner {
    position: relative;
}

.home-banner .carousel-arrow {
    border: 0;
    background: transparent;
    display: none !important;
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background: rgb(41, 204, 196);
    transition: all 0.5s ease-in-out;
  }

  .home-banner .carousel-arrow.prev:hover {
    width: 50px;
    padding-left: 15px;
  }

  .home-banner .carousel-arrow.next:hover {
    width: 50px;
    padding-right: 15px;
  }

  .home-banner:hover .carousel-arrow {
     display: block !important;
  }

  /* Modificação só pra a seta do próximo carousel ficar na direita */

  .home-banner .carousel-arrow.next {
    right: 0;
  }

  /* .ban-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
  } */

.banner-1 {
    background: linear-gradient(rgba(10, 116, 110, 0.719),rgba(9, 121, 115, 0.678)) , url(../img/zilla-banner-1.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.banner-3 {
    background: linear-gradient(rgba(10, 116, 110, 0.719),rgba(9, 121, 115, 0.678)) , url(../img/zilla-img-1.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.banner-area {
    margin-top: 100px;
}

.banner-area h1 {
    font-size: 50px;
    color: white;
}

.banner-area p {
    font-size: 18px;
    line-height: 1.7em;
}

.btn-trade {
    color: white !important;
    border: 2px solid #12334F !important;
    background: #12334F !important;
    box-shadow: inset 0 0 0 0 #12334F !important;
    -webkit-transition: ease-in-out 0.4s !important;
    -moz-transition: ease-in-out 0.4s !important;
    transition: ease-in-out 0.4s !important;
    border-radius: 0px !important;
    font-family: 'Poppins', sans-serif !important;
}

.btn-trade:hover {
    box-shadow: inset 400px 0 0 0 white !important;
    color: #12334F !important;
    background: white !important;
    border: 2px solid white !important;
}

.about-area {
    background-color: rgba(41,204,196,0.1);
}

.orange-bot {
    width: 50px;
    height: 4px;
    background: #117B86;
}

.lblue-bot {
    width: 50px;
    height: 4px;
    background: #43AFAF;
}

.history-area {
    background: #12334F;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.history-area p {
    color: white;
}

/* .history-area:hover {
    box-shadow: inset 0 0 0 50px #ffffff;
  } */

  .btn-doc {
    color: white !important;
    background: #43AFAF !important;
    border: 2px solid #43AFAF !important;
    border-radius: 0px !important;
    -webkit-transition: ease-in-out 0.4s !important;
    -moz-transition: ease-in-out 0.4s !important;
    transition: ease-in-out 0.4s !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold !important;
  }

  .btn-doc:hover {
    box-shadow: inset 700px 0 0 0 #2A9196 !important;
    border: 2px solid #2A9196 !important;
    color: white !important;
}

/* .offer-area {
    background: #eee;
} */

.offer-card {
    background: #0F7985;
    border: 2px solid #0F7985;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    min-height: 210px;
}

/* .offer-card::after, .offer-card::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 3;
  }

  .offer-card::before {
    border-bottom: 1px solid #FF9800;
    border-left: 1px solid #FF9800;
    transform-origin: 0 100% 0;
  }

  .offer-card::after {
    border-right: 1px solid #FF9800;
    border-top: 1px solid #FF9800;
    transform-origin: 100% 0 0;
  }

  .offer-card:hover::after, .offer-card:hover::before {
    transform: scale(1);
  } */

  .offer-card:hover {
    border: 2px solid #0F7985;
    background: white;
    box-shadow: inset 400px 50px 0 0 white;
  }

  .offer-card:hover p {
    color: #0F7985;
  }

  .offer-card:hover h4 {
    color: #0F7985;
  }

  .offer-card:hover span {
    color: #0F7985;
  }


.offer-card h4 {
    color: white;
}

.offer-card span {
    color: white;
}


.offer-card p {
    font-size: 15px;
    color: whitesmoke;
}

.stat-area {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bitcoin-traders.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 300px;
}

.stat-icon {
    background: #43AFAF;
    padding: 15px;
    border-radius: 50%;
    width: 90px;
}

.stat-content h5 {
    color: #43AFAF;
}

.working-content .content h5 {
    color: #43AFAF;
}

.working-content {
    width: 100%;
    height: 500px;
}

.working-content .center {
    position: absolute;
    top: 30%;
    left: 38%;
}

.working-content .center .center-area {
    background: #117B86;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
}

.working-content .center .center-area .outer {
    position: absolute;
    padding: 30px;
}

.working-content .center .center-area .outer img {
    border-radius: 50%;
    background: white;
    padding: 20px;
}

/* .working-content .center .center-area .outer img {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} */

.working-content .center .center-area .inner {
    position: absolute;
    width: 60px;
    top: 30%;
    left: 37%;
}

.working-content .top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.working-content .top-left .arrow {
    position: absolute;
    height: 10px;
    border-top: 2px solid #12334F;
    border-bottom: 2px solid #12334F;
    background: #12334F;
    width: 365px;
    top: 100px;
    transform: rotate(30deg);
}

.working-content .top-left .content {
    width: 250px;
    border-radius: 4px;
}

.working-content .top-left .content p {
    font-size: 14px;
}

.working-content .top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.working-content .top-right .arrow {
    position: absolute;
    height: 10px;
    border-top: 2px solid #12334F;
    border-bottom: 2px solid #12334F;
    background: #12334F;
    width: 365px;
    top: 100px;
    right: 0px;
    margin-right: -20px;
    transform: rotate(150deg);
}

.working-content .top-right .content {
    width: 250px;
    border-radius: 4px;
}

.working-content .top-right .content p {
    font-size: 14px;
}

.working-content .bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.working-content .bottom-left .arrow {
    position: absolute;
    height: 10px;
    border-top: 2px solid #12334F;
    border-bottom: 2px solid #12334F;
    background: #12334F;
    width: 365px;
    bottom: 100px;
    left: 0px;
    margin-left: -12px;
    transform: rotate(330deg);
}

.working-content .bottom-left .content {
    width: 250px;
    border-radius: 4px;
}

.working-content .bottom-left .content p {
    font-size: 14px;
}

.working-content .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.working-content .bottom-right .arrow {
    position: absolute;
    height: 10px;
    border-top: 2px solid #12334F;
    border-bottom: 2px solid #12334F;
    background: #12334F;
    width: 350px;
    bottom: 100px;
    right: 0px;
    margin-right: -15px;
    transform: rotate(210deg);
}

.working-content .bottom-right .content {
    width: 250px;
    border-radius: 4px;
}

.working-content .bottom-right .content p {
    font-size: 14px;
}

.contact-area {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/zilliqafx-bg-2.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.contact-control {
    border-radius: 0px !important;
    font-family: 'Poppins', sans-serif;
}

.contact-control:focus {
    box-shadow: none !important;
    color: #117B86 !important;
    border: 1px solid #117B86 !important;
}

.testi-content {
    position: relative;
}

.testi-content .carousel-arrow {
    border: 0;
    background: transparent;
    /* display: none !important; */
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  /* .testi-content:hover .carousel-arrow {
     display: block !important;
  } */
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .testi-content .carousel-arrow.next {
    right: 0;
    margin-right: 15px;
  }

  .myslider-dots {
    list-style: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  
  .myslider-dots li {
    display: inline-block;
    margin: 0 3px;
  }
  
  .myslider-dots li > button {
    width: 20px;
    height: 4px;
    border: none;
    background: #43AFAF;
    color: transparent;
    cursor: pointer;
    outline: none;
  }
  
  .myslider-dots li.slick-active > button {
    background: #12334F;
  }

  .img-testimonial {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .test-quote p {
    font-size: 18px;
  }

  .start-trading {
    background: linear-gradient(rgba(6, 125, 141, 0.719),rgba(3, 99, 112, 0.719)), url(../img/zilliqafx-bg-4.jpg) no-repeat center fixed;
    min-height: 250px;
    background-size: cover;
  }

  .footer-area {
    background: linear-gradient(#232425e7, #232425e7) ,url(../img/zillaqafx-footer-bg.jpg) no-repeat center;
    min-height: 350px;
    background-size: cover;
  }

  .foot-head {
    color: white;
  }

  .foot-bot {
    width: 70px;
    height: 3px;
    background: rgb(41, 204, 196);
}

.foot-text {
    font-size: 14px;
}

.foot-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.foot-list li {
    line-height: 1.8em;
}

.foot-list li a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.foot-list li a:hover {
    color: #43AFAF;
    margin-left: 3px;
}

.foot-list li a span {
    font-size: 12px;
}

.news-control {
    background: transparent !important;
    border: 1px solid rgba(255,255,255,.5) !important;
    border-radius: 0px !important;
    color: rgba(255,255,255,.5) !important;
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif !important;
}

.btn-news {
    color: white !important;
    background: rgb(41, 204, 196) !important;
    border-radius: 0px !important;
    border: 1px solid rgb(41, 204, 196) !important;
}

.news-control:focus {
    box-shadow: none !important;
}

.foot-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.foot-links a:hover {
    color: rgb(41, 204, 196);
}

.foot-links a .fa:hover {
    transform: rotateZ(360deg);
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.footer-contact {
    border: 1px solid #43AFAF;
    box-shadow: inset 0 0 0 0 #43AFAF;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.footer-contact:hover {
    background: #43AFAF;
    box-shadow: inset 0 0 0 50px #43AFAF;
}

.footer-contact:hover .contact-icon {
   color: white;
}

.footer-contact:hover .icon-area {
    border-right: 1px solid white;
}

.footer-contact:hover .cf-info {
    color: white;
}

.footer-contact .contact-icon {
    color: #43AFAF;
}

.icon-area {
    border-right: 1px solid #43AFAF;
    height: 100%;
}

.cf-head {
    color: white;
    font-size: 18px;
}

.cf-info {
    color: rgba(255,255,255,.5);
    font-size: 14px;
    font-weight: 300;
}

.copyright-area {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.copyright-area span {
    font-size: 13px;
    color: white;
}

/* Other Pages */
.other-banners {
    background: linear-gradient(rgba(10, 116, 110, 0.719),rgba(9, 121, 115, 0.678)) , url(../img/zilliqafx-bg-3.jpg) no-repeat center;
    background-size: cover;
    min-height: 250px;
}

.white-bot {
    width: 50px;
    height: 3px;
    background: #ffffff;
}

.accordion-button {
   background: #117B86 !important;
   color: white !important;
   border-radius: 0px !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

	/* Custom style */
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e") !important;
        transform: scale(.7) !important;
      }
      .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e") !important;
      }

.contact-card {
    min-height: 180px !important;
}